#####################################################################
# 	Bed Heater
#####################################################################

[thermistor th_heatbed]
temperature1: 25
resistance1: 100000
#temperature2:
#resistance2:
#temperature3:
#resistance3:
#   Three resistance measurements (in Ohms) at the given temperatures
#   (in Celsius). The three measurements will be used to calculate the
#   Steinhart-Hart coefficients for the thermistor. These parameters
#   must be provided when using Steinhart-Hart to define the
#   thermistor.
beta: 3950
#   Alternatively, one may define temperature1, resistance1, and beta
#   to define the thermistor parameters. This parameter must be
#   provided when using "beta" to define the thermistor.

[heater_bed]
heater_pin: PA1
sensor_type: th_heatbed
sensor_pin: PF3
##	Adjust Max Power so your heater doesn't warp your bed
max_power: 0.6
min_temp: 0
max_temp: 125
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769


[bed_mesh]
mesh_min: 5,21
mesh_max: 325,305
horizontal_move_z: 8
speed: 300
#probe_count: 33,33
probe_count: 7,7
#move_check_distance: 3
#split_delta_z: 0.015
fade_start: 1.0
fade_end: 5
#fade_target: 0
#mesh_pps: 3,3
algorithm: bicubic
bicubic_tension: 0.2
#relative_reference_index: 544
relative_reference_index: 24
